body {
    margin: 0;
    font-family:sans-serif;
}

.intro {
    font-size: 40px
}

.intro1 {
    font-size: 20px
}

.title--container {
    text-align: center;
    
}

.about-me {
    background: lightgrey;
    text-align: center;
    
}

.services {
    text-align: center;
}